{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}
  applied-science/js-interop {:mvn/version "0.3.1"}
  cljs-bean/cljs-bean {:mvn/version "1.7.0"}}
 :aliases
 {:release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}}}
